.header {
    width: 100%;
    padding: 10px 0;
    background-color: $color-primary;
    &__wrapper {
        // padding: 0 40px;
        position: relative;
        @include flex(space-between, center);
        @include media-tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    &__navwrap {
        display: flex;
        align-items: center;
        gap: 4rem;
    }
    &__navigation {
        @include media-tablet {
            display: none;
        }
    }

    &__navigation-list {
        display: flex;
        padding: 0;
        gap: 6rem;
        @include media-big-tablet {
            gap: 3rem;
        }
    }

    li {
        list-style: none;
        cursor: pointer;
        @include font(1.6rem, 1rem, 500);
        // a{
        //     // color: #ffffff;
        //     @include font(15px, 1rem, 300);
        // }
    }

    .navigation__link {
        position: relative;
        color: $color-white;
        text-decoration: none;
        height: auto;
        padding-bottom: 0.5rem;
        transition: all 0.2s linear;

        &::after {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            height: 1.5px;
            transition: 0.3s ease-out;
            background: $color-accent;
        }
        &:hover {
            &::after {
                width: 100%;
                left: 0;
            }
        }
    }
    &__right{
        display: flex;
        @include font(1.6rem,1rem, normal);
        color: $color-white;
        gap: 20px;
        a{
            color: $color-white;
            transition: 0.3s linear;
            &:hover{
                color: $color-accent;
            }
        }
        @include media-tablet {
            display: none;
        }
    }
}

.dropdown {
    position: relative;
    a {
        color: $color-white;
        display: inline-block;
        padding: 10px 0 10px 30px;
        font-size: 14px;
        position: relative;
        line-height: 1.2;
    }
    &__image {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 8px;
        margin-top: -1px;
    }
    &-nav {
        position: absolute;
        transition: all 0.3s ease;
        max-height: 0;
        overflow: hidden;
        z-index: 3;
        background: #4F317A;
        border-radius: 4px;
        z-index: 100;
        color: #000;
        a {
            line-height: 1.2;
            display: inline-block;
            padding: 10px 10px 10px 30px;
            font-size: 14px;
            position: relative;
            // opacity: 0;
            transition: max-height 0.4s ease, color 0.2s ease;
            background-color: 0.2s ease;
            &:hover {
                color: $color-black;
                width: 100%;
            }
            p {
                margin-left: 2px;
            }
        }
    }
    &:hover {
        .dropdown-nav {
            max-height: 120px;
            box-shadow: 0 7px 15px 5px rgb(0 0 0 / 3%);
        }
        a {
            opacity: 1;
        }
    }
}
