html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font-size:1rem;
    font-family: 'Open Sans', sans-serif;
    // background-color: #2A1646;
    height: 100vh;
}
svg {
    width: 100%;
    height: 100%; // запретить ужиматься во флекс-контексте
  }
a{
    text-decoration: none;
}
