$color-primary:#203563;
$color-accent:#FF7401;
// $color-title:#ECE7F2;

$color-black:#000000;
$color-white:#ffffff;


$content-width: 1300px;
$laptop-width: 1200px;
$tablet-big-width: 992px;
$tablet-width: 768px;
$mobile-big-width: 576px;
$mobile-small-width: 320px;
 


